# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
test.py
documents/

# Virtual environment
.venv/
.venv_bot/

# Streamlit secrets
.streamlit/secrets.toml

# VSCode/IDE stuff
.vscode/
*.log

# OS files
.DS_Store
Thumbs.db

#Google API
service_account.json

# Secrets
.env
bot/.env