# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# VSCode/IDE stuff
.vscode/
*.log

# OS files
.DS_Store
Thumbs.db

#Google API
service_account.json