langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-openai==0.3.32
langsmith==0.4.20
openai==1.102.0
streamlit==1.49.0
streamlit-feedback==0.1.4
gspread==6.2.1
oauth2client==4.1.3